<div class="row">
  <div class="col-sm">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">About Me</h3>
        <p class="card-text">I'm into graphics, interactivity, & make snazzy web apps</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Sample Card</h3>
        <p class="card-text">Testing testing 1 2 3</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
