<div class="container-fluid">
  <div class="row">
    <!--<div class="col-sm">-->
      <!--<img src="" class="rounded img-fluid" height="auto">-->
    <!--</div>-->
    <!--<div class="col-sm">-->
      <!--<img src="" class="rounded img-fluid">-->
    <!--</div>-->
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="../../assets/about-thumb-box.png" routerLink="/about" routerLinkActive="active">
        <div class="card-block">
          <h3 class="card-title text-center">About Me</h3>
          <p class="card-text text-center">I'm into graphics, interactivity, & snazzy web apps</p>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <img class="card-img-top" src="../../assets/pong_thumb.png" routerLink="/pong" routerLinkActive="active">
        <div class="card-block">
          <h3 class="card-title text-center">Pong</h3>
          <p class="card-text text-center">Headless Pong with Render Choices</p>
        </div>
      </div>
    </div>
    <!--<div class="col-sm">-->
      <!--<div class="card">-->
        <!--<div class="card-block">-->
          <!--<h3 class="card-title">Sample Card</h3>-->
          <!--<p class="card-text">Testing testing 1 2 3</p>-->
          <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
